<main class="wrapper">
  <header class="header section">
    <div class="container">
      <include
        src="partials/header.html"
        locals='{ "title": "Evan Johnston"}'
      ></include>
    </div>
  </header>
  <section class="features section">
    <div class="container">
      <include src="partials/features.html"></include>
    </div>
  </section>
  <section class="parcel section">
    <div class="container">
      <include src="partials/parcel.html"></include>
    </div>
  </section>
  <footer class="footer section">
    <div class="container">
      <include src="partials/footer.html"></include>
    </div>
  </footer>
</main>

 <!-- only used the JS bit underneath to generate the  box-shadow CSS box-shadow input.  list that layered shadow in line, let light that shine. 
-->


<!--

function randomNumber(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min
}

const STAR_COUNT = 400
let result = ""
for(let i = 0; i < STAR_COUNT; i++){
    result += `${randomNumber(-50, 50)}vw ${randomNumber(-50, 50)}vh ${randomNumber(0, 1)}px ${randomNumber(0, 1)}px #fff,`
}
console.log(result.substring(0, result.length - 1))

-->
