<head>
<link rel="stylesheet" type="text/css" href="https://github.com/Evan-Johnston/Evan-Johnston-Site/navstyle.css">  
</head>

<body>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
  <div class="line"></div>
</nav>
  <script>
:root{
  --turqouise: #1abc9c;
  --red: #e74c3c;
  --blue: #3498db;
  --purple: #9b59b6;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #000;
}

body {

  height: 100vh;
}

nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: rgba(0,0,0,.1);
  border-radius: 20px;
  overflow: hidden;
}

a {
  width: 120px;
  display: inline-block;
  text-align: center;
  padding: 1em 0;
  transition: .2s;
}

.line {
  width: 120px;
	height: 0px;
  transition: .3s;
}
a:nth-child(1):hover{
  color: var(--red);
  transform: scale(1.1);
}
a:nth-child(2):hover{
  color: var(--turqouise);
  transform: scale(1.1);
}
a:nth-child(3):hover{
  color: var(--blue);
  transform: scale(1.1);
}

a:nth-child(1):hover ~ .line {
  height: 3px;
  background: var(--red);
}
a:nth-child(2):hover ~ .line {
  height: 3px;
  background: var(--turqouise);
  transform: translate(120px);
}
a:nth-child(3):hover ~ .line {
  height: 3px;
  background: var(--blue);
  transform: translate(240px);
}
  </script>
</body>
